
<html>
<head>
    <title>Game id: {{game.f_game_name}}</title>

{% load customtags %}
<script language="javascript">
	
{% autoescape off %}
var gv_common =  "none";
var gv_set1_counter = 0;
var gv_set2_counter = 0;
var player_start_time = new Date();
{% endautoescape %}

function page_load() {
{% autoescape off %}
  var key_card_no = {{key}};
  var card_d = {{card_deck}};
  document.getElementById("img_ek1").src = "/static/images/".concat(card_d[key_card_no][0],".png");
  document.getElementById("img_ek2").src = "/static/images/".concat(card_d[key_card_no][1],".png");
  document.getElementById("img_ek3").src = "/static/images/".concat(card_d[key_card_no][2],".png");
  document.getElementById("img_ek4").src = "/static/images/".concat(card_d[key_card_no][3],".png");
  document.getElementById("img_ek5").src = "/static/images/".concat(card_d[key_card_no][4],".png");
  document.getElementById("img_ek6").src = "/static/images/".concat(card_d[key_card_no][5],".png");
  document.getElementById("img_ek7").src = "/static/images/".concat(card_d[key_card_no][6],".png");
  document.getElementById("img_ek8").src = "/static/images/".concat(card_d[key_card_no][7],".png");
  
  var play_set = {{set1}};
  var play_card_no = {{cards_played}}
  document.getElementById("img_ep1").src = "/static/images/".concat(card_d[play_set[play_card_no]][0],".png");
  document.getElementById("img_ep2").src = "/static/images/".concat(card_d[play_set[play_card_no]][1],".png");
  document.getElementById("img_ep3").src = "/static/images/".concat(card_d[play_set[play_card_no]][2],".png");
  document.getElementById("img_ep4").src = "/static/images/".concat(card_d[play_set[play_card_no]][3],".png");
  document.getElementById("img_ep5").src = "/static/images/".concat(card_d[play_set[play_card_no]][4],".png");
  document.getElementById("img_ep6").src = "/static/images/".concat(card_d[play_set[play_card_no]][5],".png");
  document.getElementById("img_ep7").src = "/static/images/".concat(card_d[play_set[play_card_no]][6],".png");
  document.getElementById("img_ep8").src = "/static/images/".concat(card_d[play_set[play_card_no]][7],".png");
  gv_common = get_common();
  

{% endautoescape %}
}
function clickFntn(clicked_id) {
{% autoescape off %}
  var clicked = document.getElementById(clicked_id).src;
  var clicked1 = clicked.replace(/^.*[\\\/]/, '');
  var clicked2 = clicked1.slice(0,-4);
  if (clicked2 == gv_common) {
    var var_user = "{{user}}";
	var game_id = {{game.id}};
    var check_result = 'true';
	var play_card_no = set1[gv_set1_counter];
	var key_card_no = {{key}}
	gv_set1_counter = gv_set1_counter + 1;
	var set1 = {{ set1 }};
	var play_card_no = {{ cards_played }};
	if (play_card_no == set1.length - 1) {
	  post("{% url 'game2_end' %}", {type:"first", user:var_user, time: 1, id: game_id});	  
	}
	post("{% url 'game2_play' %}", {type:"second", user:var_user, id:game_id, key_card_no:key_card_no, play_card_no:play_card_no});
	if (gv_set1_counter == 2) {
	  var player_end_time = new Date();
	  var play_time = parseInt((player_end_time-player_start_time)/1000);
	  post("{% url 'game2_end' %}", {type:"first", user:var_user, time: play_time, id: game_id});
	}
	var next_card_no = set1[gv_set1_counter];
	var card_d = {{card_deck}};
	var next_card = card_d[next_card_no];
	var switch_result = switch_images(next_card_no);
  } else {
    var check_result = 'false';
  }
{% endautoescape %}
};

function intersect_arrays(a, b) {
    var sorted_a = a.concat().sort();
    var sorted_b = b.concat().sort();
    var common = [];
    var a_i = 0;
    var b_i = 0;

    while (a_i < a.length
           && b_i < b.length)
    {
        if (sorted_a[a_i] === sorted_b[b_i]) {
            common.push(sorted_a[a_i]);
            a_i++;
            b_i++;
        }
        else if(sorted_a[a_i] < sorted_b[b_i]) {
            a_i++;
        }
        else {
            b_i++;
        }
    }
    return common;
};

function get_common(){
{% autoescape off %}
  var k1 = document.getElementById("img_ek1").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var k2 = document.getElementById("img_ek2").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var k3 = document.getElementById("img_ek3").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var k4 = document.getElementById("img_ek4").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var k5 = document.getElementById("img_ek5").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var k6 = document.getElementById("img_ek6").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var k7 = document.getElementById("img_ek7").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var k8 = document.getElementById("img_ek8").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var key_array = [k1, k2, k3, k4, k5, k6, k7, k8];
  
  var p1 = document.getElementById("img_ep1").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var p2 = document.getElementById("img_ep2").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var p3 = document.getElementById("img_ep3").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var p4 = document.getElementById("img_ep4").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var p5 = document.getElementById("img_ep5").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var p6 = document.getElementById("img_ep6").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var p7 = document.getElementById("img_ep7").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var p8 = document.getElementById("img_ep8").src.replace(/^.*[\\\/]/, '').slice(0,-4);
  var play_array = [p1, p2, p3, p4, p5, p6, p7, p8];
  var common_card = intersect_arrays(key_array, play_array);
  return common_card;
{% endautoescape %}
};

function switch_images(card_no){
{% autoescape off %}
  var card_d = {{card_deck}};
  var next_card = card_d[card_no];
  document.getElementById("img_ek1").src = document.getElementById("img_ep1").src;
  document.getElementById("img_ek2").src = document.getElementById("img_ep2").src;
  document.getElementById("img_ek3").src = document.getElementById("img_ep3").src;
  document.getElementById("img_ek4").src = document.getElementById("img_ep4").src;
  document.getElementById("img_ek5").src = document.getElementById("img_ep5").src;
  document.getElementById("img_ek6").src = document.getElementById("img_ep6").src;
  document.getElementById("img_ek7").src = document.getElementById("img_ep7").src;
  document.getElementById("img_ek8").src = document.getElementById("img_ep8").src;
  
  
  document.getElementById("img_ep1").src = "/static/images/".concat(next_card[0],".png");
  document.getElementById("img_ep2").src = "/static/images/".concat(next_card[1],".png");
  document.getElementById("img_ep3").src = "/static/images/".concat(next_card[2],".png");
  document.getElementById("img_ep4").src = "/static/images/".concat(next_card[3],".png");
  document.getElementById("img_ep5").src = "/static/images/".concat(next_card[4],".png");
  document.getElementById("img_ep6").src = "/static/images/".concat(next_card[5],".png");
  document.getElementById("img_ep7").src = "/static/images/".concat(next_card[6],".png");
  document.getElementById("img_ep8").src = "/static/images/".concat(next_card[7],".png");
  
  gv_common = get_common();

{% endautoescape %}
}

function post(path, params, method) {
    method = method || "POST"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.getElementById("form1");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
	document.getElementById("test").innerHTML = params;
    form.submit();
}	

window.onload=page_load;

</script>
<style>

#base{
  width: 100 vw;
  height: 100 vh;
  background: green;
}

.circle {
  display: block;
  margin: auto;
  width: 45vh;
  height: 45vh ;
  /*-webkit-border-radius: 25vh;*/
  /*-moz-border-radius: 25vh;*/
  /*border-radius: 25vh;*/
  background: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#circle_k {
  width: 50vh;
  height: 50vh;
  -webkit-border-radius: 25vh;
  -moz-border-radius: 25vh;
  border-radius: 25vh;
  background: red;
}

.circle_base {
    box-sizing: border-box;
}
.container {
    width:70%;
	height:80%;
    border:3px solid black;
    margin: 0 auto;
    padding:1%;
}
.row {
    height:20%; /*set height*/
    border:2px solid blue;
    width:96%;
    margin-bottom:2%;
    padding:1%;
}
.col1 {
    border:2px solid red;
	margin:auto;
    width:30%;
    height:92%;    
}
.col2 {
    border:2px solid green;
    width:45%;
    float:left;
    height:92%;
    margin-right:2%;    
}
.col2:last-child {margin-right:0;  }
.col3 {
    border:2px solid brown;
    width:30%;
    float:left;
    height:92%;
    margin-right:1%;    
}
.col3:last-child {margin-right:0;  }

.image {
max-height:100%;
max-width:100%;
}

</style>	

</head>
 
<body>
{% load staticfiles %}

	<div id = "base">
		<div id = "circle_key" class = "circle">
			<div id = "cont" class = "container">
				<div id = "krow1" class = "row">
					<div id = "identifier" class = "col2">
					{{ key }} {{set1}} 
					</div>
					<div id = "ek1" class = "col2">
						<img class = "image" id = "img_ek1" src="/static/images/carr.png" />
					</div>
				</div>			
				<div id = "krow2" class = "row">
					<div id = "ek2" class = "col3">
						<img class = "image" id = "img_ek2" src="/static/images/carr.png" />
					</div>
					<div id = "ek3" class = "col3">
						<img class = "image" id = "img_ek3" src="/static/images/carr.png" />
					</div>
					<div id = "ek4" class = "col3">
						<img class = "image" id = "img_ek4" src="/static/images/carr.png" />
					</div>
				</div>				
				<div id = "krow3" class = "row">
					<div id = "ek5" class = "col3">
						<img class = "image" id = "img_ek5" src="/static/images/carr.png" />
					</div>
					<div id = "ek6" class = "col3">
						<img class = "image" id = "img_ek6" src="/static/images/carr.png" />
					</div>
					<div id = "ek7" class = "col3">
						<img class = "image" id = "img_ek7" src="/static/images/carr.png" />
					</div>
				</div>	
				<div id = "krow4" class = "row">
					<div id = "ek8" class = "col1">
						<img class = "image" id = "img_ek8" src="/static/images/carr.png" />
					</div>
				</div>				
			</div>
		</div>
		<div id = "circle_play" class = "circle">
			<div id = "cont" class = "container">
				<div id = "prow1" class = "row">
					<div id = "ep1" class = "col1">
						<img class = "image" id = "img_ep1" onClick="clickFntn(this.id)"/>
					</div>
				</div>			
				<div id = "prow2" class = "row">
					<div id = "ep2" class = "col3">
						<img class = "image" id = "img_ep2" onClick="clickFntn(this.id)"/>
					</div>
					<div id = "ep3" class = "col3">
						<img class = "image" id = "img_ep3" onClick="clickFntn(this.id)"/>
					</div>
					<div id = "ep4" class = "col3">
						<img class = "image" id = "img_ep4" onClick="clickFntn(this.id)"/>
					</div>
				</div>				
				<div id = "prow3" class = "row">
					<div id = "ep5" class = "col3">
						<img class = "image" id = "img_ep5" onClick="clickFntn(this.id)"/>
					</div>
					<div id = "ep6" class = "col3">
						<img class = "image" id = "img_ep6" onClick="clickFntn(this.id)"/>
					</div>
					<div id = "ep7" class = "col3">
						<img class = "image" id = "img_ep7" onClick="clickFntn(this.id)"/>
					</div>
				</div>	
				<div id = "prow4" class = "row">
					<div id = "ep8" class = "col1">
						<img class = "image" id = "img_ep8" onClick="clickFntn(this.id)"/>
					</div>
				</div>				
			</div>
		</div>
	</div>
	
    <form id="form1"> 
	{% csrf_token %}
	</form>
	<div id="test"><p>test</p></div>
</body>
</html>